URxvt.scrollBar: false
URxvt.font: xft:Inconsolata:size=20:style=Bold,xft:DejaVu Sans Mono:size=20

! special
URxvt.foreground:   #586e75
URxvt.background:   #fdf6e3
URxvt.cursorColor:  #586e75

! black
URxvt.color0:       #002b36
URxvt.color8:       #657b83

! red
URxvt.color1:       #dc322f
URxvt.color9:       #dc322f

! green
URxvt.color2:       #859900
URxvt.color10:      #859900

! yellow
URxvt.color3:       #b58900
URxvt.color11:      #b58901

! blue
URxvt.color4:       #268bd2
URxvt.color12:      #268bd2

! magenta
URxvt.color5:       #6c71c4
URxvt.color13:      #6c71c4

! cyan
URxvt.color6:       #2aa198
URxvt.color14:      #2aa198

! white
URxvt.color7:       #93a1a1
URxvt.color15:      #fdf6e3

