[Unit]
Description=ZNC, an advanced IRC bouncer (user service)
After=network.target

[Service]
ExecStart=/usr/bin/znc -f

[Install]
WantedBy=multi-user.target
